// New CSS goes here

.offset-anchor {
  position: relative;
  top: calc(-1 * (var(--offset-top) + var(--top-banner-height)));
}

.corporate-gift-guide-container {
  margin: 0 auto;
  margin-top: 24px;
}

.image-area {
  width: 100%;
}

.copy {
  width: 100%;

  p {
    color: var(--text-color);
    margin-top: var(--xl-type);
    margin-bottom: var(--xl-type);
  }

  @media (min-width: 768px) {
    grid-column-start: 8;
    grid-column-end: span 4;

    p {
      margin-bottom: var(--xl-type);
    }
  }
}

.popular-gifts-link {
  color: var(--text-color);
  text-align: center;
}

// Form
.form-container {
  margin: 42px 16px auto 16px;
  background-color: var(--offWhite);

  .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  // Success Failure Alerts
  .form-alert {
    padding: 16px;
    text-align: center;
  }

  .success-alert {
    display: none;
  }

  .error-alert {
    display: none;

    .error-font-normal {
      font-weight: normal;
    }
  }

  .form-control {
    margin-top: 32px;
  }

  .input-label {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: var(--text-color);

    &__md {
      margin-bottom: 8px;
    }
  }

  .text-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--primary); // Secondary gray
    margin-bottom: 4px;
    color: var(--text-color);

    &__md {
      max-width: 260px;
      font-size: var(--sm-type);
      font-weight: 400;
      font-family: var(--styrene-family);
      letter-spacing: 0.48px;
      line-height: 20px;
    }

    &__sm {
      max-width: 164px;
      padding: 0;
    }
  }

  .text-input::placeholder {
    color: var(--primary);
  }

  #product-units {
    width: 164px;
  }

  .checkboxes {
    display: flex;
    flex-flow: column wrap;

    input[type=checkbox] {
      visibility: hidden;
      position: absolute;

     & + .input-label:before {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 16px;
        border: 1px solid var(--offBlack);
        content: " ";
      }
      &:checked {
        & + .input-label:before {
          background-color: black;
          padding: 3px;
        }
        & + .input-label:after {
          border: 2px solid #ffffff;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 4px;
          left: 1px;
          content: " ";
        }
      }
    }
  }

  .message-count-wrapper {
    position: relative;
  }

  #remaining-chars {
    position: absolute;
    bottom: 36px;
    right: 16px;
    color: var(--primary);
  }

  #corporate-gift-inquiry-msg {
    background: transparent;
    border: 1px solid var(--offBlack);
    border-radius: 0;
    margin-bottom: 32px;
    width: 100%;
    color: var(--text-color);
    resize: none;
  }

  .submit-button {
    border: 1px solid var(--offBlack);
    height: 40px;
    margin-bottom: 32px;
    padding: 8px 36px;
    border-radius: 20px;
    background-color: var(--offBlack);
    color: #ffffff;
    align-self: center;

    &__disabled {
      cursor: initial;
      background-color: transparent;
      color: var(--textColor);
    }
  }
}

.center-h2 {
  color: var(--text-color);
  width: 100%;
  text-align: center;
  margin-top: var(--title-type-mobile);
}

@media (min-width: 768px) {
  .image-area {
    grid-column-start: 1;
    grid-column-end: span 6;
  }

  .copy {
    grid-column-start: 7;
    grid-column-end: span 6;

    p {
      margin-bottom: var(--xl-type);
    }
  }

  .form-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 42px;

    .form-content {
      padding-left: 60px;
      padding-right: 60px;

      .checkboxes {
        max-height: 130px;
      }
    }
  }

  .popular-gifts-link {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .copy {
    grid-column-start: 8;
    grid-column-end: span 5;

    p {
      margin-bottom: var(--xl-type);
    }
  }

  .form-container {
    width: 800px;
    margin: 0 auto;
    margin-top: 60px;

    .form-content {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
