// New CSS goes here

@media screen and (min-width: 1280px) {
  .main-container, .main-container .products-grid {
    --content-width: 1010px !important;
  }
}

.title-block {
  margin-top: 32px;
  margin-bottom: 40px;
  text-align: center;
  .sustain-page-title {
    font: 400 24px/normal "Styrene A", Arial, sans-serif;
    line-height: 32px;
    width: auto;
  }
}

.repair-section {
  margin-bottom: 56px;

  .section-title {
    margin-bottom: 16px;
  }

}
